body{
    background-color:rgb(230, 224, 254);
}
*{
    font-size: medium;
    align-items:center;
}
#header{
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(6,1fr);
     justify-content: center;
    gap:60px;
}
.main:hover{
    color: rgb(93, 93, 247);
}
.con{
    display: inline;
    padding: 35px;
}
#content{
    text-align: center;
    background-color: #fff;
    border: #fff;
    margin-top: 15px;
    margin-left:13px;
    margin-right: 13px;
}
.tex{
    display: inline;
    padding: 37px;
}
.tex:hover{
    color: rgb(65, 65, 224);
    text-decoration: underline;
}
#text{
    text-align: center;
    background-color: #fff;
    border: #fff;
     margin-left:13px;
    margin-right: 13px;
}
#motorola{
    margin:15px;
    display: flex;
    margin-right:20px;
    margin-left:10px;
}
.del{
    display: inline;
    padding: 18px;
} 
.del:hover{
   zoom:1.1;
}
 #del{
    margin-bottom:15px;
 }
.all{
    margin-left: 15px;
    background-color: #fff;
    height:300px;
    margin-right:15px;
    margin-top: 10px;
}
#deals{
    margin-left: 15px;
    background-color: #fff;
    font-size: larger;
}
#items{
    display: flex;
}
.pri{
    display:inline;
    font-size: medium;
    padding:64px;
    justify-content: center;
    margin-top:30px;
}
.PRI{
    display: inline;
    padding: 53px;
} 
.banners{
    display: inline;
    padding: 5px;
} 
 #hashtags{
    margin-left:10px;
    margin-top:15px;
}
 #extra{
 display: flex;
 }
.home{
    background-color: #fff;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:1px;
    width:30%;
    margin-left:12px;
}
#footer{
    background-color:black;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 40px;
    column-gap: 12px;
    text-align:left;
    margin: 12px;;
}
#sell{
    margin-left: 10px;
}
h1{
    margin-left: 12px;
}
