body{
    border: black solid 2px;
    padding:5px;
}
#main{
    width:100%;
    height: 500px;
    background-color:antiquewhite;
    /* padding: 10px; */

}
#header{
    background-color: black;
    color: white;
    height: 30px;
    font-size:large;
    text-align: center;
}
#green{
    padding: 10px;
    margin-left: 10px;
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-content:center;
}
#text{
    width: 250px;
    text-align: center;
    margin-left:5px;
}
#soft{
    margin-left:25px;
    font-size: small;
    width: 250px;
}
.shirt{
    background-color: #fff;
    width: 300px;
    margin-left: 600px;
}
#add{
    background-color: blue;
    color: #fff;
    text-align: center;
    height: 25px;
    margin: 5px;
    margin-bottom: 5px;
}

