body{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    background-image:url('sukhoi.jpeg') ;
    background-position:top right;
    /* background-repeat:repeat-y */
    background-size: cover;
}
p{
    font-family: arial;
    font-size: 30px;
    color: aqua;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
    text-decoration: underline;
    text transform: capitalize;
    text-shadow: 10px 10px 10px #fff;
}
#para{
    color: aliceblue;
    display: inline-block;
}